.tabs{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

.tile {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

.columns {
  padding-left: 10px;
  padding-right: 10px;
  /*border: 2px solid black;*/
}


.hide {
  display: none;
}

h1, h2 {
  font-family: 'Lilita One', cursive;
}

.button {
  font-family: 'Roboto', sans-serif;

}

p, a {
  font-family: 'Roboto', sans-serif;
}
