.tabs {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

.tile {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

.columns {
  padding-left: 10px;
  padding-right: 10px;
  /*border: 2px solid black;*/
}


.hide {
  display: none;
}

h1, h2 {
  font-family: 'Lilita One', cursive;
}

.button {
  font-family: 'Roboto', sans-serif;

}

p, a {
  font-family: 'Roboto', sans-serif;
}

.articleDiv {
  /*border: 1px dashed hsl(171, 100%, 41%);*/
  box-shadow: 0 0 5px grey;
  margin: 20px;
  border-radius: 5px;
}

.canShare {
  float:right;
}


.gif {
  height: 300px;
  margin-left: 39%;
}

.comingSoon {
  text-align: center;
  margin: 15px;
}
